@import "./base.css";

#app {
  display: grid;
  grid-template-rows: 7% auto;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: rgb(230, 38, 38);
  color: black;
  font-size: 2.5em;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
  background-color: black;
  color: rgb(25, 136, 58);
}
